body {
  font-family: Arial;
}
.todo-grid,
.todo-input-grid {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  
}
.todo-input-grid {
  margin-bottom: 10px;
  align-items: stretch;
}
.name-input,
.due-date-input{
  font-size: 15px;
  padding: 6px;
}
.add-button {
  background-color: green;
  border: none;
  color: white;
}
.add-button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.add-button:active {
  background-color: rgb(5, 184, 5);
}
.delete-button {
  background-color: maroon;
  border: none;
  color: white;
  padding: 7px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.delete-button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.delete-button:active {
  background-color: rgb(169, 39, 39);
}